.fade-in {
  animation: fadeSlideIn 0.6s ease forwards;
  opacity: 0;
  transform: translateY(10px);
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.program-box {
  background: white;
  border-radius: 20px;
}
